<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <queries>
        <package android:name="com.google.android.gms" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".view.PetSaudeApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetSaude">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PetSaude">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.LoginActivity"        android:exported="false" android:launchMode="singleTask" />
        <activity android:name=".view.RegisterActivity"     android:exported="false" android:launchMode="singleTask" />
        <activity android:name=".view.RegisterPetActivity"  android:exported="false" android:launchMode="singleTask" />
        <activity android:name=".view.HomeActivity"         android:exported="false" android:launchMode="singleTask" />
        <activity android:name=".view.ConsultasActivity"    android:exported="false" android:launchMode="singleTask" />
        <activity android:name=".view.VacinasActivity"      android:exported="false" android:launchMode="singleTask" />
        <activity android:name=".view.ProfileActivity"      android:exported="false" android:launchMode="singleTask" />
        <activity android:name=".view.AddVacinaActivity"    android:exported="false" android:launchMode="singleTask" />
        <activity android:name=".view.AddConsultaActivity"  android:exported="false" android:launchMode="singleTask" />
        <activity android:name=".view.MapActivity"          android:exported="false" android:launchMode="singleTask" />
        <activity android:name=".view.PetCompatibilityActivity" android:exported="false" android:launchMode="singleTask" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
